:root {
  --slate-900: #133041;
  --slate-700: #4e6e7e;
  --slate-500: #6b94a8;
  --slate-300: #9abed5;
  --slate-100: #e4f4fd;

  --lime: #d8db2f;
  --diffused-lime: #eced97;
  --transparent-lime: #d8db2f26;

  --red: #d73328;
}

.hidden {
  display: none !important;
}

.error-message {
  color: var(--red);
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 14px;
  display: none;
}

body {
  background-color: var(--slate-100);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 1008px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.mortgage-calculator {
  width: 100%;
  padding: 32px 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
}

.mortgage-calculator__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.mortgage-calculator__title {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  margin: 0;
  color: var(--slate-900);
}

.mortgage-calculator__clear-all-button {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--slate-700);
}

.mortgage-calculator__clear-all-button:hover {
  cursor: pointer;
  color: var(--slate-900);
}

.mortgage-calculator__inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mortgage-calculator__details-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mortgage-calculator__label {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--slate-700);
}

.input-mega-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--slate-500);
  border-radius: 4px;
  overflow: hidden;
}

.input-wrapper:hover {
  border-color: var(--slate-900);
}

.input-wrapper__prefix {
  cursor: pointer;
  background-color: var(--slate-100);
  padding: 12px 16px;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: var(--slate-700);
}

.input-wrapper__prefix-select {
  appearance: none;
  border: none;
  outline: none;
}

.input-wrapper__input {
  width: 100%;
  border: none;
  padding: 12px 16px;
  outline: none;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0%;
}

.input-mega-wrapper.error .input-wrapper {
  border-color: var(--red);
}

.input-mega-wrapper.error .input-wrapper__prefix {
  background-color: var(--red);
  color: white;
}

.input-mega-wrapper.error .error-message {
  display: block;
}

/* Pour Chrome, Safari, Edge, et Opera */
.input-wrapper__input::-webkit-inner-spin-button,
.input-wrapper__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
.input-wrapper__input {
  -moz-appearance: textfield;
}

.input-wrapper:has(.input-wrapper__input:focus) {
  border-color: var(--lime);
}

.input-wrapper:has(.input-wrapper__input:focus) .input-wrapper__prefix {
  background-color: var(--lime);
  color: var(--slate-900);
}

.radio-input-wrapper-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio-input-wrapper:has(.radio-input-wrapper__input:checked) {
  border: 1px solid var(--lime);
  background-color: var(--transparent-lime);
}

.radio-input-wrapper {
  cursor: pointer;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  border: 1px solid var(--slate-500);
  border-radius: 4px;
}

.radio-input-wrapper:hover {
  border-color: var(--lime);
}

.radio-input-wrapper__input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--slate-700);
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.radio-input-wrapper__input:checked {
  width: 20px;
  height: 20px;
  border: 2px solid var(--lime);
  border-radius: 50%;
  position: relative;
}

.radio-input-wrapper__input:checked::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 10px;
  width: 10px;
  background-color: var(--lime);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.radio-input-wrapper__label {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0%;
}

.mortgage-calculator__submit {
  width: 100%;
  padding: 16px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  background-color: var(--lime);
  border-radius: 28px;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: var(--slate-900);
}

.mortgage-calculator__submit:hover {
  cursor: pointer;
  background-color: var(--diffused-lime);
}

.results-wrapper {
  padding: 32px 24px;
  background-color: var(--slate-900);
}

.results-instructions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.results-instructions-title {
  color: white;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.results-instructions {
  color: var(--slate-300);
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: font-size/text-preset-4;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.results-results {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.results-results-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.results-results-title {
  color: white;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.results-results-description {
  color: var(--slate-300);
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
}

.results-results-repayment {
  background-color: #00000040;
  border-top: 4px solid var(--lime);
  border-radius: 8px;
  padding: 24px 16px;
}

.results-results-repayment-title {
  color: var(--slate-300);
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.results-monthly-repayments {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-bottom: 16px;
  border-bottom: 1px solid #9abed540;
  margin-bottom: 16px;
}

.results-total-repayments {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.results-results-monthly-repayment-price {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--lime);
}

.results-results-total-repayment-price {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: white;
}

@media screen and (min-width: 768px) {
  body {
    padding: 40px;
  }

  main {
    border-radius: 24px;
  }

  .mortgage-calculator {
    padding: 40px;
    gap: 40px;
  }

  .mortgage-calculator__header {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .mortgage-calculator__details-inputs-wrapper {
    flex-direction: row;
  }

  .mortgage-calculator__submit {
    width: auto;
  }

  .results-wrapper {
    padding: 40px;
  }

  .results-results-repayment {
    padding: 32px;
  }

  .results-monthly-repayments {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  .results-results-monthly-repayment-price {
    font-size: 56px;
  }
}

@media screen and (min-width: 1124px) {
  main {
    flex-direction: row;
  }

  .mortgage-calculator {
    width: 50%;

    justify-content: center;
  }

  .results-wrapper {
    width: 50%;

    border-radius: 0 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
